<div class="row">
<h3 data-event-id={{model.id}} class="event-band-name">{{model.bandName}}</h3>
<h4>{{model.day}} {{model.time}} {{model.stageName}}</h4>
<img src="http://normanmusicfestival.com/wp-content/uploads/2013/12/nmf9map.png"/>
{{outlet}}
</div>
