
{{#illiquid-model model as |day|}}
  {{#memory-scroll key=(concat "day" day.id) class="memory-scroll" }}


    <section class="day">
        <div class="row" id={{day.id}}>
          <div class="small-12 columns">
            <h2 class="centered">{{day.id}}</h2>
          </div>
        </div>
        <ol class="row" onclick={{action "chooseTalk"}} >
          {{#each sortedEvents as |event|}}
            <li class='small-12 columns accordion' data-talk-id={{event.id}}>
              <div class="row small-collapse medium-uncollapse">
                <div class="event-time small-12 medium-2 columns">
                  <p>{{event.time}}</p>
                </div>
                <div class="event-info small-12 medium-5 columns">
                  <h3>{{event.bandName}}</h3>
                  {{!is-interested-button talkId=talk.id}}
                </div>
                <div class="event-info small-12 medium-5 columns">
                  <p>{{event.stageName}}</p>
                  {{!is-interested-button talkId=talk.id}}
                </div>
              </div>
            </li>
          {{/each}}
        </ol>

    </section>

  {{/memory-scroll}}
{{/illiquid-model}}
