
{{#illiquid-model model as |day|}}
<ul>
{{#each sortedEvents as |event|}}
<li>{{event.sortableTime}} -- {{event.day}} {{event.time}} {{event.bandName}} :: {{event.stageName}}</li>
{{/each}}
</ul>
{{/illiquid-model}}
